{% extends "base.html" %}

{% block title %}Credit Calculator | DevHomes{% endblock %}

{% block content %}

<div class="card">
  <h1>Credit Calculator</h1>

  <form method="get">
  {{ form.errors }}
{{ form.non_field_errors }}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}

        {% if field.errors %}
          <div class="errors">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}

    <button class="btn" type="submit">Calculate</button>
  </form>
</div>

{% if monthly_payment %}
  <div class="card">
    <p><strong>Monthly payment:</strong> {{ monthly_payment|floatformat:2 }} EUR</p>
    <p><strong>Total loan amount:</strong> {{ loan_amount|floatformat:2 }} EUR</p>
    <p><strong>Down payment:</strong> {{ self_funded_sum|floatformat:2 }} EUR</p>
  </div>
{% endif %}


{% endblock %}